<div class="row clearfix" [@routerTransition]>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="card">
            <div class="header">
                <h2>
                    About This Baidu Template
                </h2>
            </div>
            <div class="body">
                <p>
                    This is a simple startup  <a href="https://www.baidu.com/?tn=02049043_52_pg" target="_blank">www.baidu.com</a>.
                </p>

            </div>
        </div>
    </div>
</div>